$color_1: #898989;
$color_2: #010101;
$color_3: #212121;
$color_4: #222;
$color_5: #000;
$color_6: #fff;
$color_7: #313841;
$color_8: #2d2d2d;
$mediafifth: 993px;
$mediafourth: 992px;
$mediathird: 769px;
$mediasecond: 768px;
$mediafirst: 320px;
$font_family_1: 'Source Sans Pro', sans-serif;