$color_1: #898989;
$color_2: #010101;
$color_3: #212121;
$color_4: #222;
$color_5: #000;
$color_6: #fff;
$color_7: #313841;
$color_8: #2d2d2d;
$fs_1: 14px;
$fs_11: 16px;
$fs_2: 20px;
$fs_3: 48px;
$fs_4: 24px;
$fs_5: 34px;
$fs_6: 32px;
$fs_7: 70px;
$fs_8: 22px;
$fs_9: 18px;
$fs_10: 50px;
$mediafifth: 993px;
$mediafourth: 992px;
$mediathird: 769px;
$mediasecond: 768px;
$mediafirst: 320px;
$font_family_1: 'Source Sans Pro', sans-serif;