@import 'pm.scss';
@media only screen and (min-width: $mediafifth) {
	.container {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu {
		width: 10%;
		text-align: left;
		padding-top: 10px;
	}
	.logo {
		display: block;
		width: 70%;
		text-align: center;
	}
	.social {
		display: flex;
		width: 20%;
		list-style-type: none;
	}
	.display-flex {
		display: flex;
		justify-content: space-between;
	}
	.display-flexspace {
		display: flex;
		justify-content: center;
	}
	.display-flexportfolio {
		display: flex;
		justify-content: space-between;
	}
	.counter__art {
		padding: 0 30px;
	}
	.team__art {
		width: 25%;
		text-align: center;
	}
	.row__txt {
		color: $color_1;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 20px 0 70px;
	}
	.header-bottom {
		background: #fcdb00;
		padding: 360px 0 50px;
		text-align: center;
		position: relative;
	}
	.row__a {
		width: 256px;
		height: 56px;
		line-height: 56px;
		border: 2px solid #010101;
		color: $color_2;
		font-size: 22px;
		display: block;
		margin: 0 auto 180px;
		text-align: center;
		font-weight: 700;
	}
	.featured-grid__block {
		width: 30%;
		display: flex;
	}
	.price-block {
		width: 25%;
	}
	.portfolio-grid {
		padding: 150px 0 80px 0;
	}
	.portfolio__p {
		text-align: center;
		padding-bottom: 65px;
	}
	.image-block__img {
		display: block;
		width: 100%;
	}
	.image-block {
		&:hover {
			.descript-image {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.team__art {
		width: 25%;
		text-align: center;
	}
	.kol-block {
		position: absolute;
		display: flex;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 9998;
	}
	.testimonials__left {
		text-align: left;
		position: relative;
		top: -40px;
		left: -35px;
		font-size: 20px;
		color: $color_1;
	}
	.row__input {
		width: 100%;
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
	}
	.row__textarea {
		width: 100%;
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
		height: 200px;
	}
	.footer-form__input {
		width: 78%;
		background: #fff;
		border: 0;
		padding: 0 5px;
		outline: 0;
		height: 51px;
		font-size: 16px;
	}
	.footer-form__button {
		width: 135px;
		margin-left: 10px;
		cursor: pointer;
		background: #fff;
		border: 0;
		outline: 0;
		height: 52px;
		line-height: 49px;
		color: $color_2;
		font-weight: 700;
	}
	.row__block {
		width: 70%;
	}
	.row__width {
		width: 25%;
	}
	footer {
		address {
			display: block;
			color: $color_6;
		}
	}
}
@media (min-width:$mediathird) and (max-width:$mediafourth) {
	.container {
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu {
		width: 10%;
		text-align: left;
		padding-top: 10px;
	}
	.logo {
		display: block;
		width: 70%;
		text-align: center;
	}
	.social {
		display: flex;
		width: 20%;
		list-style-type: none;
	}
	.display-flex {
		display: flex;
		justify-content: space-between;
	}
	.display-flexspace {
		display: flex;
		justify-content: center;
	}
	.display-flexportfolio {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		overflow: hidden;
	}
	.portfolio__flex {
		flex-basis: 20px;
		flex: auto;
	}
	.counter__art {
		padding: 0 30px;
	}
	.team__art {
		width: 25%;
		text-align: center;
	}
	.row__txt {
		color: $color_1;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 20px 0 70px;
	}
	.header-bottom {
		background: #fcdb00;
		padding: 360px 0 50px;
		text-align: center;
		position: relative;
	}
	.row__a {
		width: 256px;
		height: 56px;
		line-height: 56px;
		border: 2px solid #010101;
		color: $color_2;
		font-size: 22px;
		display: block;
		margin: 0 auto 180px;
		text-align: center;
		font-weight: 700;
	}
	.featured-grid__block {
		width: 30%;
		display: flex;
	}
	.price-block {
		width: 25%;
	}
	.portfolio-grid__p {
		text-align: center;
		padding-bottom: 65px;
	}
	.image-block__img {
		display: block;
		width: 100%;
	}
	.image-block {
		&:hover {
			.descript-image {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.kol-block {
		position: absolute;
		display: flex;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 9998;
	}
	.testimonials__left {
		text-align: left;
		position: relative;
		top: -40px;
		left: -35px;
		font-size: 20px;
		color: $color_1;
	}
	.row__input {
		width: 100%;
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
	}
	.row__textarea {
		width: 100%;
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
		height: 200px;
	}
	.footer-form__input {
		width: 78%;
		background: #fff;
		border: 0;
		padding: 0 5px;
		outline: 0;
		height: 51px;
		font-size: 16px;
	}
	.footer-form__button {
		width: 135px;
		margin-left: 10px;
		cursor: pointer;
		background: #fff;
		border: 0;
		outline: 0;
		height: 52px;
		line-height: 49px;
		color: $color_2;
		font-weight: 700;
	}
	.row__block {
		width: 70%;
	}
	.row__width {
		width: 25%;
	}
	footer {
		address {
			display: block;
			color: $color_6;
		}
	}
}
@media (min-width:$mediafirst) and (max-width:$mediasecond) {
	.container {
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu {
		position: absolute;
		margin: 20px 0 0 10px;
	}
	.fa-lg {
		font-size: 40px;
	}
	.logo {
		display: block;
		margin: 0 auto 0 70px;
	}
	.social {
		display: flex;
		width: 50%;
		margin: 10px auto;
		list-style-type: none;
	}
	.display-flex {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.display-flexspace {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.display-flexportfolio {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
	}	
	.counter__art {
		padding: 0 30px;
	}
	.team__art {
		width: 100%;
		text-align: center;
	}
	.row__txt {
		color: $color_1;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 20px;
	}
	.header-bottom {
		background: #fcdb00;
		padding: 160px 0 50px;
		text-align: center;
		position: relative;
	}
	.row__a {
		width: 256px;
		height: 56px;
		line-height: 56px;
		border: 2px solid #010101;
		color: $color_2;
		font-size: 22px;
		display: block;
		margin: 0 auto 50px;
		text-align: center;
		font-weight: 700;
	}
	.featured-grid__block {
		width: 100%;
		display: flex;
	}
	.price-block {
		width: 100%;
	}
	.portfolio-grid {
		padding: 60px 0;
	}
	.portfolio-grid__p {
		text-align: center;
		padding-bottom: 0;
	}
	.portfolio__flex {
		margin: 20px auto;
	}
	.image-block__img {
		display: block;
		width: 100%;
		text-align: center;
	}
	.image-block {
		&:hover {
			.descript-image {
				visibility: visible;
				opacity: 1;
				width: 100%;
				margin: 0 auto;
			}
		}
	}
	.kol-block {
		position: absolute;
		display: flex;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 9998;
		width: 90%;
	}
	.testimonials__left {
		text-align: left;
		position: relative;
		top: -0;
		left: -35px;
		font-size: 20px;
		color: $color_1;
	}
	.row__input {
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
		width: 80%;
	}
	.row__textarea {
		outline: 0;
		border: 2px solid #010101;
		margin-bottom: 25px;
		padding: 13px;
		color: $color_2;
		font-size: 16px;
		height: 200px;
		width: 80%;
	}
	.footer-form__input {
		width: 66%;
		background: #fff;
		border: 0;
		padding: 0 5px;
		outline: 0;
		height: 51px;
		font-size: 16px;
	}
	.footer-form__button {
		width: 75px;
		margin-left: 10px;
		cursor: pointer;
		background: #fff;
		border: 0;
		outline: 0;
		height: 52px;
		line-height: 49px;
		color: $color_2;
		font-weight: 700;
	}
	.row__address {
		width: 100%;
	}
	.row__block {
		width: 100%;
	}
	.row__width {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	footer {
		address {
			display: block;
			color: $color_6;
			text-align: center;
		}
	}
}