@import 'pm';
@import 'reset';
@import 'screen';
@import 'main';
.social__li {
	font-size: $fs_2;
	line-height: 30px;
	color: $color_3;
	padding: 0 10px;
}
.menu__button {
	background: none;
	border: 0;
	color: $color_3;
	outline: 0;
}
.row__h1 {
	font-size: $fs_3;
	line-height: 60px;
	font-weight: 900;
	color: $color_4;
}
.row__p {
	color: $color_4;
	font-size: $fs_2;
	line-height: $fs_4;
	margin: 20px 0 40px;
}
.row__ai {
	color: $color_5;
	font-size: $fs_5;
}
.row__h2 {
	font-weight: 700;
	font-size: $fs_6;
	color: $color_2;
	line-height: $fs_5;
	text-align: center;
}
.row__f-h2 {
	font-weight: 700;
	font-size: $fs_6;
	color: $color_6;
	line-height: $fs_5;
	text-align: center;
}
.featured-grid {
	padding: 110px 0;
	i {
		font-size: $fs_7;
		text-align: center;
		display: block;
		color: $color_2;
	}
}
.featured-grid__h3 {
	font-size: $fs_8;
	line-height: $fs_4;
	font-weight: 700;
	color: $color_2;
}
.featured-grid__icon {
	width: 25%;
	padding: 0 15px;
}
.featured-grid__block-text {
	width: 75%;
}
.featured-grid__p {
	padding: 13px 0 80px;
	line-height: $fs_2;
}
.price {
	text-align: center;
}
.price-block__i {
	font-size: $fs_3;
	color: $color_2;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	line-height: 100px;
	background: #ebebeb;
}
.price-block__h3 {
	font-size: $fs_4;
	line-height: $fs_4;
	font-weight: 700;
	color: $color_2;
	margin: 22px 0 15px;
}
.price-block__p {
	color: $color_1;
	padding: 0 36px 36px 36px;
	font-size: $fs_1;
}
.price-block__h4 {
	font-size: $fs_6;
	line-height: $fs_4;
	font-weight: 700;
	color: $color_2;
}
.price-block__span {
	width: $fs_10;
	height: 2px;
	background: #010101;
	display: inline-flex;
}
.price-block__a {
	width: 140px;
	height: 47px;
	line-height: 47px;
	border: 2px solid #010101;
	font-weight: 700;
	display: block;
	color: $color_2;
	margin: 0 auto 20px;
}
.portfolio-grid {
	i {
		font-size: $fs_2;
		text-align: center;
		color: $color_6;
		padding: 0 5px;
	}
}
.portfolio__h3 {
	font-size: $fs_8;
	font-weight: 700;
	color: $color_2;
	line-height: $fs_4;
	text-align: center;
	margin-top: 17px;
}
.image-block {
	position: relative;
	width: 100%;
	display: block;
}
.kol-block__count {
	width: 50%;
	font-size: $fs_1;
	color: $color_6;
}
.kol-block__date {
	width: 50%;
	text-align: right;
	font-size: $fs_1;
	color: $color_6;
}
.descript-image {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0px;
	right: 0;
	background: #000;
	color: $color_6;
	width: 100%;
	height: auto;
	font-size: $fs_9;
	font-weight: 400;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	padding-top: 80px;
	transition: all 0.5s;
	cursor: pointer;
	-webkit-transition: visibility opacity 0.2s;
	i {
		font-size: $fs_10;
	}
}
.team {
	padding: 50px 0 155px;
	text-align: center;
}
.team__span {
	line-height: $fs_9;
	color: $color_7;
	margin-bottom: 10px;
}
.team__h3 {
	font-size: $fs_8;
	color: $color_2;
	line-height: $fs_4;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 5px;
}
.team__p {
	text-align: center;
	padding-bottom: 10px;
}
.team__a {
	padding: 6px;
}
.counter {
	padding: 80px;
	text-align: center;
}
.counter__block {
	float: left;
	width: 16%;
	margin-right: 35px;
}
.counter__i {
	font-size: $fs_10;
	color: $color_8;
	display: block;
}
.counter__h3 {
	font-size: $fs_4;
	color: $color_2;
	font-weight: 700;
	line-height: $fs_4;
	text-align: center;
	margin-top: 15px;
}
.counter__p {
	text-align: center;
	padding-bottom: 10px;
	font-size: $fs_1;
}
.counter__art {
	padding: 0 20px;
}
.testimonilas {
	text-align: center;
	margin-bottom: 200px;
}
.row__h3 {
	font-size: $fs_8;
	margin-top: 10px;
	color: $color_2;
	margin-bottom: 5px;
}
.row__span {
	display: block;
	margin-bottom: 25px;
}
.row__p {
	display: inline-block;
	font-size: $fs_2;
	color: $color_5;
}
.righti {
	text-align: right;
	position: relative;
	right: -35px;
	color: $color_1;
	font-size: $fs_4;
}
.display-flexspace__span {
	display: block;
	font-size: $fs_1;
	line-height: $fs_9;
	color: $color_7;
	margin-bottom: 10px;
}
.display-flexspace__h3 {
	font-size: $fs_8;
	color: $color_2;
	line-height: $fs_4;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 5px;
}
.contact__p {
	text-align: center;
	padding-bottom: 10px;
}
.contact {
	padding-bottom: 75px;
	text-align: center;
}
.row__form {
	max-width: 480px;
	width: 100%;
	margin: 30px auto;
	i {
		font-size: $fs_8;
		color: $color_8;
	}
	h3 {
		font-size: $fs_4;
		line-height: $fs_4;
		font-weight: 400;
		color: $color_2;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	span {
		font-size: $fs_1;
		line-height: 16px;
		display: block;
		margin-bottom: 40px;
	}
}
.row__button {
	width: 170px;
	outline: 0;
	border: 0;
	cursor: pointer;
	height: 51px;
	line-height: 51px;
	background: #010101;
	color: $color_6;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
}