include ./bemto/bemto.pug
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title
		meta(name='viewport', content='width=device-width initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', type='text/css', href='css/reset.css')
	body
		header
			+b.container
				+b.row.display-flex
					+b.menu
						+e.BUTTON.button
							+e.A(href='#')
								+b.I.fa.fa-bars.fa-lg
					+b.logo
						+e.A(href='#')
							+e.img(src='images/logo.png', alt='')
					+b.nav
						+b.UL.social
							+e.LI.li
								+e.A(href='#')
									+b.I.fa.fa-facebook
							+e.LI.li
								+e.A(href='#')
									+b.I.fa.fa-twitter
							+e.LI.li
								+e.A(href='#')
									+b.I.fa.fa-google-plus
							+e.LI.li
								+e.A(href='#')
									+b.I.fa.fa-pinterest
		+b.header-bottom
			+b.container
				+b.row
					+e.H1.h1 Inspire your inspiration
					+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Praesent vitae eros eget tellus tristique bibendum. Donec <br> rutrum sed sem quis venenatis.
					+e.A.a(href='#') GET START
					+e.A.ai(href='#')
						+b.I.fa.fa-long-arrow-down
		+b.container.featured-grid
			+b.row
				+e.H2.h2 Tinyone features
				+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.row.display-flex
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-tablet
						+e.text
							+e.H3.h3 Fully Responsive
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-comment-o
						+e.text
							+e.H3.h3 Fully Layered PSD
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-folder-o
						+e.text
							+e.H3.h3 Font Awesome Icons
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
				+b.row.display-flex
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-envelope-o
						+e.text
							+e.H3.h3 HTML3 & CSS3 
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-code
						+e.text
							+e.H3.h3 Email Template
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
					+b.featured-grid__block
						+e.icon
							+b.I.fa.fa-bookmark-o
						+e.text
							+e.H3.h3 Free to download
							+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
		+b.container.price
				+b.row
					+e.H2.h2 Pricing And Free Trial
					+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.display-flexspace
					+b.price-block
						+e.I.i.fa.fa-tablet
						+e.H3.h3 Basic
						+e.P.p Lorem ipsum dolor sit amet,  consectetur adipiscing elit
						+e.H4.h4 FREE
						+e.SPAN.span
						+e.P.p Free forever
						+e.A.a(href='#') GET FREE NOW
					+b.price-block
						+e.I.i.fa.fa-laptop
						+e.H3.h3 Standard
						+e.P.p Lorem ipsum dolor sit amet,  consectetur adipiscing elit
						+e.H4.h4 $99
						+e.SPAN.span
						+e.P.p month
						+e.A.a(href='#') UPGRADE
					+b.price-block
						+e.I.i.fa.fa-desktop
						+e.H3.h3 Enterprise
						+e.P.p Lorem ipsum dolor sit amet,  consectetur adipiscing elit
						+e.H4.h4 $199
						+e.SPAN.span
						+e.P.p month
						+e.A.a(href='#') LEARN MORE
		+b.container.portfolio-grid
				+b.row
					+e.H2.h2 Our works
					+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.row.display-flexportfolio
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock7.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 Fully Responsive
						+e.P.p Design / Branding
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock1.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 Font Awesome Icons
						+e.P.p Design / Branding
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock2.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 HTML3 & CSS3 
						+e.P.p App design / development
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock3.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 Various Layouts
						+e.P.p Branding
				+b.row.display-flexportfolio
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock4.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+e.I.fa.fa-plus-circle
						+e.H3.h3 Fully Responsive
						+e.P.p Design / Branding
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock5.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 Font Awesome Icons
						+e.P.p Design / Branding
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock6.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 HTML3 & CSS3 
						+e.P.p App design / development
					+b.portfolio__flex
						+b.image-block
							+b.img
								+e.img(src='images/imgblock7.jpg', alt='')
							+b.kol-block
								+e.count 279
									+b.I.fa.fa-eye
								+e.date 07/03/14 
									+b.I.fa.fa-clock-o
							+b.descript-image
								+b.I.fa.fa-plus-circle
						+e.H3.h3 Various Layouts
						+e.P.p Branding
		+b.container.team
				+b.row
					+e.H2.h2 Our team
					+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.row.display-flex
					+b.team__art
						+e.img(src='images/team1.png', alt='')
						+e.H3.h3 John Doe
						+e.P.p UI Designer
						+e.P.span Lorem ipsum dolor sit amet, consectetur adipiscing elit
						+e.A.a(href='#')
							+b.I.fa.fa-facebook
						+e.A.a(href='#')
							+b.I.fa.fa-twitter
						+e.A.a(href='#')
							+b.I.fa.fa-linkedin
					+b.team__art
						+e.img(src='images/team2.png', alt='')
						+e.H3.h3 John Doe
						+e.P.p UI Designer
						+e.P.span Lorem ipsum dolor sit amet, consectetur adipiscing elit
						+e.A.a(href='#')
							+b.I.fa.fa-facebook
						+e.A.a(href='#')
							+b.I.fa.fa-twitter
						+e.A.a(href='#')
							+b.I.fa.fa-linkedin
					+b.team__art
						+e.img(src='images/team3.png', alt='')
						+e.H3.h3 John Doe
						+e.P.p UI Designer
						+e.P.span Lorem ipsum dolor sit amet, consectetur adipiscing elit
						+e.A.a(href='#')
							+b.I.fa.fa-facebook
						+e.A.a(href='#')
							+b.I.fa.fa-twitter
						+e.A.a(href='#')
							+b.I.fa.fa-linkedin
					+b.team__art
						+e.img(src='images/team4.png', alt='')
						+e.H3.h3 John Doe
						+e.P.p UI Designer
						+e.P.span Lorem ipsum dolor sit amet, consectetur adipiscing elit
						+e.A.a(href='#')
							+b.I.fa.fa-facebook
						+e.A.a(href='#')
							+b.I.fa.fa-twitter
						+e.A.a(href='#')
							+b.I.fa.fa-linkedin
		+b.container.counter
				+b.row
					+e.H2.h2 Stats & Testimonial
					+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.display-flexspace
					+b.counter__art
						+e.I.i.fa.fa-puzzle-piece
						+e.H3.h3 20
						+e.P.p products
					+b.counter__art
						+e.I.i.fa.fa-cloud-download
						+e.H3.h3 120,000
						+e.P.p Downloads
					+b.counter__art
						+e.I.i.fa.fa-users
						+e.H3.h3 1200
						+e.P.p Customers
					+b.counter__art
						+e.I.i.fa.fa-thumbs-up
						+e.H3.h3 900
						+e.P.p Likes
		+b.container.testimonilas
				+b.row
					+e.img(src='images/testi.png', alt='')
					+e.H3.h3 John Doe
					+e.SPAN.span From Wỏdpress
					+e.I.i.lefti.fa.fa-quote-left
					+e.P.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Praesent vitae eros eget tellus tristique bibendum. Donec <br> rutrum sed sem quis venenatis.
					+e.I.i.righti.fa.fa-quote-right
		+b.container.contact
				+b.row
					+e.h2.h2 Keep in touch with us
					+e.p.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.display-flexspace
					+b
						+e.I.i.fa.fa-map-marker
						+e.H3.h3 Address
						+e.SPAN.span 66, Dang Van ngu, Dong Da, <br> Ha noi, Vietnam
					+b
						+e.I.i.fa.fa-envelope
						+e.H3.h3 E-mail
						+e.SPAN.span contact@halovietnam.com
					+b
						+e.I.i.fa.fa-phone-square
						+e.H3.h3 Phone
						+e.SPAN.span +844 1234 56789
				+b.row
					+e.FORM.form
						+e.INPUT.input(type='text', placeholder='Email')
						+e.INPUT.input(type='text', placeholder='Full name')
						+e.TEXTAREA.textarea(placeholder='Message')
						+e.BUTTON.button Send Message
		footer.footer-style
			+b.container
				+b.row
					+e.H2.f-h2 Sign up for our newsletter
					+e.P.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus <br> tristique bibendum. Donec rutrum sed sem quis venenatis.
				+b.row
					+b.footer-form
						+e.INPUT.input(type='text', placeholder='Enter your email to update')
						+e.BUTTON.button SUBMIT
				+b.row.display-flex
					+b.row__address
						+e.address HALOVIETNAM LTD <br> 66, Dang Van ngu, Dong Da <br> Hanoi, Vietnam <br> contact@halovietnam.com <br>                +844 35149182
					+b.row__block
						+b.row.display-flex
							+b.row__width
								+e.A(href='#') Examples
								+e.A(href='#') Shop
								+e.A(href='#') License
							+b.row__width
								+e.A(href='#') Contact
								+e.A(href='#') About
								+e.A(href='#') Privacy
								+e.A(href='#') Terms
							+b.row__width
								+e.A(href='#') Download
								+e.A(href='#') Support
								+e.A(href='#') Documents
							+b.row__width
								+e.A(href='#') Media
								+e.A(href='#') Blog
								+e.A(href='#') Forums